@import url('https://fonts.googleapis.com/css?family=DM+Sans|Literata&display=swap');

/******MAIN CONTENT********/
 * {
    box-sizing: border-box;
    max-width: 100%;
    }

    body {
        margin: 0px;
    }

    main {
        padding-left: 125px;
        padding-right: 125px;
    }

    header {
        background-color: #ff8303;
        padding: 5px 0px 5px 0px;
        margin: 0px;
        text-align: center;
        margin-bottom: 20px;

    }

    header h1 {
        margin-top: 10px;
        margin-bottom: 0px;
        padding-top: 10px;
        font-family: 'Literata', Garamond, serif; 
        font-weight: bold;
    }

    header h4 {
        margin-top: 0px;
        padding-top: 7px;
        padding-bottom: 15px;
        margin-bottom: 0px;
        font-family: 'Literata', Garamond, serif; 
    }

    main h2, footer p {
        font-family: 'Literata', Garamond, serif; 
    }

    header h1, header h4 {
        background-color: #fffbab;
        margin-left: 0px;
        margin-right: 0px;
    }

    main p, main input, main button, #loginStatus, #signUpStatus, main textarea {
        font-family: 'DM Sans', sans-serif;
    }

    footer {
        background-color: #fffbab;
        padding: 15px;
        margin-top: 30px;
        text-align: center;
        font-weight: bold;
    }

    .btn {
    background-color: #5d8dc1;
    border: none;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 5px 15px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    
    }

 .btn:hover {
    background-color: #5078a5;
    }

 .btn:active {
   background-color: #486f99;
    }

    #header-line {
        padding: 3px;
        background-color: #ffbf0a;
    }
/******LOGIN PAGE********/
#signUp, #login {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#signUp input, #signUp button, #login input, #login button {
    margin-bottom: 10px;
}

#login button, #signUp button {
    width: 150px;
}

#loginStatus, #signUpStatus {
    color: red;
    font-weight: bold;
}

#login-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

#login-container img {
    max-width: 100%;
}
/******CATEGORY PAGE********/
#container-buttons {
    display: flex;
    flex-direction: column;
}

.category-button {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 3px 20px 3px 20px;
    width: 65%;
}
#categories, #addTip {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}

#addTip {
    margin-bottom: 50px;
}

#categories img {
    margin-top: 30px;
    margin-bottom: 30px;
}

#category-main {
    text-align: center;
}

.thumb-button {
    margin-bottom: 10px;
    margin-top: 5px;
}

.thumb-button-down {
    margin-bottom: 10px;
}

.tip-head {
    margin-top: 15px;
}

#status {
    color: red;
    font-weight: bold;
}

#tipTitle {
    margin-bottom: 10px;
}